<template>
    <div>
        <router-view />
        <notifications position="bottom right" />
    </div>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'

export default {
    created() {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type.match(/setAlert/g)) {
                const storeName = mutation.type.split('/')[0]
                if (state[storeName].alert !== null) {
                    // https://github.com/euvl/vue-notification#api
                    Vue.notify({
                        title: state[storeName].alert.title || null,
                        text: state[storeName].alert.text || null,
                        duration: state[storeName].alert.duration || 5000,
                        type: state[storeName].alert.type || 'info'
                    })
                }
            }
        })

        if (localStorage.getItem('lang')) {
            this.switchLang(localStorage.getItem('lang'))
            this.$root.$i18n.locale = localStorage.getItem('lang')
        } else {
            this.switchLang('en')
            this.$root.$i18n.locale = 'en'
        }
    },
    methods: {
        ...mapActions({ switchLang: 'app/switchLang', initAuthentication: 'auth/initAuthentication' })
    }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import './assets/scss/styles.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.vue-notification {
    border-left: 0;
}
</style>
