// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {
  background-size: contain;
  background-image: url(~@/assets/img/undraw_software_engineer.svg);
  background-repeat: no-repeat;
  margin-top: 4em;
}

.bg-register-image {
  background: url($register-image) center;
  background-size: cover;
}

.bg-password-image {
  background: url($password-image) center;
  background-size: cover;
}

form.user {
  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 0.35rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 0.35rem;
    padding: 0.75rem 1rem;
  }
}
