@font-face {
  font-family: 'Niramit';
  src: url('~@/assets/fonts/Niramit/Niramit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('~@/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import 'variables.scss';

// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Import Custom SB Admin 2 Mixins and Components
@import 'global.scss';
@import 'utilities.scss';

// Custom Components
@import 'dropdowns.scss';
@import 'navs.scss';
@import 'buttons.scss';
@import 'cards.scss';
@import 'charts.scss';
@import 'login.scss';
@import 'error.scss';
@import 'footer.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip { opacity: 1 };

.btn-outline-primary {
  border-width: 2px;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

h1, h2, h3, h4, h6, h6 {
  font-family: "Niramit",Georgia,Times New Roman,Times,serif;
}

.cursor-pointer {
  cursor: pointer;
}
