<template>
    <div class="container-fluid mt-5">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">{{ $t('error404.title') }}</p>
            <p class="text-gray-500 mb-0">{{ $t('error404.message') }}</p>
            <a href="#" @click="() => $router.go(-1)">{{ $t('error404.back') }}</a>
        </div>
    </div>
</template>
