<template>
    <Layout :stepper="false">
        <div class="d-sm-flex align-items-center justify-content-between mt-5 mb-4">
            <h1 class="h1 mb-0 text-gray-800">{{ $t('about.title') }}</h1>
        </div>
        <p>{{ $t('about.subTitle') }}</p>

        <p class="mt-5">{{ $t('about.content') }}</p>
    </Layout>
</template>

<script>
import Layout from '@/views/Layout'
export default { components: { Layout } }
</script>
