<template>
    <Layout :stepper="false">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mt-5 mb-4">
            <h1 class="h1 mb-0 text-gray-800">{{ $t('home.title') }}</h1>
        </div>
        <p>{{ $t('home.subTitle') }}</p>
        <!-- Content Row -->
        <div class="row justify-content-center mt-5">
            <router-link to="step-1-variables" class="col-lg-6 col-md-12 mb-4 text-decoration-none">
                <div class="card shadow h-100 pt-5">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mx-4">
                                <span class="text-xl-center font-weight-bold text-primary text-uppercase mb-1">
                                    {{ $t('home.menu1') }}
                                </span>
                            </div>
                            <div class="col-auto mr-4">
                                <i class="fas fa-clipboard-check fa-3x text-primary" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center bg-light mt-4 py-4">
                        <i class="fas fa-long-arrow-alt-right fa-2x text-primary slideOutRight" />
                    </div>
                </div>
            </router-link>

            <router-link to="step-1-variables" class="col-lg-6 col-md-12 mb-4 text-decoration-none">
                <div class="card shadow h-100 pt-5">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mx-4">
                                <span class="text-xl-center font-weight-bold text-success text-uppercase mb-1">
                                    {{ $t('home.menu2') }}
                                </span>
                            </div>
                            <div class="col-auto mr-4 mt-n2">
                                <i class="fas fa-chart-line fa-3x text-success" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center bg-light mt-4 py-4">
                        <i class="fas fa-long-arrow-alt-right fa-2x text-success slideOutRight" />
                    </div>
                </div>
            </router-link>
        </div>
        <div v-if="tradoffs.length" class="row mt-5">
            <div class="col">
                <h2 class="mb-4">{{ $t('home.listTitle', { plural: tradoffs.length }) }}</h2>
                <div v-for="(tradoff, i) in tradoffs" :key="i" class="list-group">
                    <button type="button" class="btn btn-lg bg-gray-200 position-relative list-group-item-action mb-2 text-capitalize">
                        <small>
                            <b>{{ tradoff.name }}</b> ({{
                                new Date(tradoff.created).toLocaleDateString(`${lang}-${lang.toUpperCase()}`, {
                                    weekday: 'long',
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                })
                            }})
                            <a
                                class="btn btn-sm btn-info cursor-pointer"
                                style="position: absolute; right: 10px; top: 7px"
                                @click="loadTradoff(tradoff)"
                            >
                                Load
                            </a>
                        </small>
                    </button>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Layout from '@/views/Layout'

export default {
    components: {
        Layout
    },
    computed: {
        ...mapGetters({ tradoffs: 'user/getTradoffs', lang: 'app/getLang' })
    },
    methods: {
        ...mapMutations({
            setStep: 'app/setStep',
            setCurrentStep: 'app/setCurrentStep',
            setVariables: 'variables/setVariables',
            setGroups: 'contraints/setGroups',
            setRules: 'contraints/setRules',
            setQuery: 'contraints/setQuery',
            setPreview: 'contraints/setPreview',
            setTask: 'sample/setTask',
            setConcept: 'sample/setConcept',
            setVersion: 'sample/setVersion',
            setNone: 'sample/setNone'
        }),
        loadTradoff(tradoff) {
            this.setCurrentStep(4)

            this.setVariables(tradoff.variables)

            if (tradoff.contraints) {
                this.setQuery(tradoff.contraints.query)
                this.setPreview(tradoff.contraints.preview)
            }

            this.setTask(tradoff.sample.task)
            this.setConcept(tradoff.sample.concept)
            this.setVersion(tradoff.sample.version)
            this.setNone(tradoff.sample.none)

            this.$router.push('step-1-variables')
        }
    }
}
</script>

<style lang="scss" scoped>
.card {
    &:hover {
        .slideOutRight {
            animation: slideOutRight ease-out 1s;
        }
    }
}
</style>
