<template>
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <Header />
                <!-- Page Content -->
                <div v-if="stepper" class="container mt-5">
                    <Stepper />
                </div>
                <div class="container page-content">
                    <slot />
                </div>
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; GIDE 2020</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
import Stepper from '@/components/Stepper'
import Header from '@/components/Header'

export default {
    components: {
        Header,
        Stepper
    },
    props: {
        stepper: {
            type: Boolean,
            default: () => true
        }
    }
}
</script>

<style lang="scss" scoped>
.page-content {
    min-height: calc(100vh - 170px);
    animation: fadeIn ease 0.5s;
}
footer {
    position: relative;
    bottom: 100%;
}
</style>
