<template>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <LoginBox redirect />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoginBox from '@/components/LoginBox'
export default {
    components: {
        LoginBox
    }
}
</script>

<style scoped>
.container {
    min-height: calc(100vh - 194px);
    animation: fadeIn ease 0.5s;
}
</style>
