<template>
    <Layout>
        <div class="row">
            <div class="col-md-12 mb-4">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mt-5">
                    <h3 class="h3 mb-3 text-gray-800">{{ $t('step1Variables.title') }}</h3>
                </div>
                <p>{{ $t('step1Variables.subTitle') }}</p>
            </div>
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7 pr-5">
                <h3 class="h3 mb-3 text-gray-800">{{ $t('step1Variables.formTitle') }}</h3>
                <div class="card shadow mb-4 pb-2">
                    <!-- Card Body -->
                    <div class="card-body">
                        <form class="needs-validation" novalidate>
                            <BTabs pills small active-nav-item-class="btn-light">
                                <BTab
                                    v-for="(variable, index) in variables"
                                    :key="index"
                                    title-link-class="text-dark"
                                    :active="currentId === variable.id"
                                    @click="_selectVariable(index)"
                                >
                                    <template v-slot:title>
                                        <span class="position-relative">
                                            {{ variable.label }}
                                            <i
                                                v-if="(currentId === variable.id && price) || variable.price"
                                                class="fas fa-coins fa-sm position-absolute"
                                                style="top: -6px; left: -12px"
                                            />
                                            <span
                                                v-if="variables.length > 1"
                                                class="badge badge-danger position-absolute"
                                                style="top: -14px; right: -20px"
                                                @click="_removeVariable(index)"
                                            >
                                                <i class="fas fa-minus" />
                                            </span>
                                        </span>
                                    </template>
                                </BTab>
                                <template v-slot:tabs-end>
                                    <li class="nav-item cursor-pointer" @click="_addVariable">
                                        <a class="nav-link"><i class="fas fa-plus fa-lg" /></a>
                                    </li>
                                </template>
                            </BTabs>

                            <div class="form-row mt-4">
                                <div class="col-md-5">
                                    <label for="label">{{ $t('step1Variables.labelInput.label') }}</label>
                                    <input
                                        id="label"
                                        v-model="label"
                                        type="text"
                                        class="form-control bg-light border-0"
                                    />
                                </div>
                            </div>

                            <div class="form-group mt-4">
                                <label>{{ $t('step1Variables.typeInput.label') }}</label>
                                <div>
                                    <button
                                        type="button"
                                        class="btn mr-2"
                                        :class="type !== 1 ? 'btn-outline-primary' : 'btn-primary'"
                                        @click="() => _selectType(1)"
                                    >
                                        {{ $t('step1Variables.typeInput.num') }}
                                    </button>
                                    <button
                                        type="button"
                                        class="btn mr-2"
                                        :class="type !== 2 ? 'btn-outline-primary' : 'btn-primary'"
                                        @click="() => _selectType(2)"
                                    >
                                        {{ $t('step1Variables.typeInput.opt') }}
                                    </button>
                                </div>
                            </div>

                            <div v-if="type === 1" class="form-row animated--fade-in mt-4">
                                <div class="form-group col-md-4">
                                    <label for="borne_inf">{{ $t('step1Variables.numInput.inf') }}</label>
                                    <input
                                        id="borne_inf"
                                        v-model="borneInf"
                                        type="text"
                                        class="form-control bg-light border-0"
                                        @keypress="_isNumberOrFloat"
                                    />
                                    <small class="form-text text-muted">
                                        {{ $t('step1Variables.numInput.intorfloat') }}
                                    </small>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="borne_sup">{{ $t('step1Variables.numInput.sup') }}</label>
                                    <input
                                        id="borne_sup"
                                        v-model="borneSup"
                                        type="text"
                                        class="form-control bg-light border-0"
                                        @keypress="_isNumberOrFloat"
                                    />
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="step">{{ $t('step1Variables.numInput.step') }}</label>
                                    <input
                                        id="step"
                                        v-model="step"
                                        type="text"
                                        class="form-control bg-light border-0"
                                        @keypress="_isNumberOrFloat"
                                    />
                                </div>
                            </div>

                            <div v-if="preview && type === 1" class="mb-4 py-2 px-3 bg-light text-info">
                                {{ $t('step1Variables.preview') }}
                                <b style="margin-left: 0.5em; word-spacing: 0.5em">{{ preview }}</b>
                            </div>

                            <div v-if="type === 2" class="form-row animated--fade-in mt-4">
                                <div class="form-group col">
                                    <label>{{ $t('step1Variables.optInput.label') }}</label>
                                    <vue-tags-input
                                        v-model="tag"
                                        :tags="tags"
                                        :allow-edit-tags="true"
                                        @tags-changed="newTags => (tags = newTags)"
                                    />
                                </div>
                            </div>

                            <small v-if="!type" class="form-text text-muted mb-4">
                                {{ $t('step1Variables.optionAdvice') }}
                            </small>

                            <BFormCheckbox v-model="price" class="mt-3">
                                {{ $t('step1Variables.price') }}
                            </BFormCheckbox>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary" @click="_next">
                        {{ $t('step1Variables.nextBtn') }}
                        <i class="fas fa-long-arrow-alt-right fa-xs ml-2 slideOutRight" />
                    </button>
                </div>
            </div>
            <!-- File import -->
            <div class="col-xl-4 col-lg-5">
                <h3 class="h3 mb-3 text-gray-800">{{ $t('step1Variables.fileImport.title') }}</h3>
                <div class="custom-file" style="width: 290px">
                    <input id="fileImport" type="file" class="custom-file-input" :lang="lang" />
                    <label class="custom-file-label border-0" for="fileImport">
                        {{ $t('step1Variables.fileImport.placeholder') }}
                    </label>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from '@/views/Layout'
import VueTagsInput from '@johmun/vue-tags-input'
import { mapGetters, mapMutations } from 'vuex'
import { BTabs, BTab, BFormCheckbox } from 'bootstrap-vue'

export default {
    components: {
        Layout,
        VueTagsInput,
        BTabs,
        BTab,
        BFormCheckbox
    },
    data: () => ({
        currentId: 1,
        label: 'Variable 1',
        type: 0,
        borneInf: 1,
        borneSup: 10,
        // String for "0,x" float type
        step: '1',
        tag: '',
        tags: [],
        preview: '',
        price: false
    }),
    computed: {
        ...mapGetters({ lang: 'app/getLang', variables: 'variables/getVariables' })
    },
    watch: {
        borneInf(val, old) {
            if (val !== old) this._setPreview()
            if ((val || val === 0) && val < 1) this.borneInf = 1
            else if (this.borneSup <= +val)
                setTimeout(() => {
                    this.borneSup = +val + 1
                }, 500)
        },
        borneSup(val, old) {
            if (val !== old) this._setPreview()
            if ((val || val === 0) && val <= 1) {
                this.borneSup = 2
            } else if (this.borneInf >= +val)
                setTimeout(() => {
                    this.borneInf = +val - 1
                }, 500)
        },
        step(val, old) {
            if (val !== old) this._setPreview()
            if ((val || val === 0) && +val < 1) this.step = '1'
        },
        price(val, old) {
            if (val !== old) this.$forceUpdate()
        }
    },
    created() {
        this._selectVariable(0, true)
        this.setStep(1)
    },
    beforeDestroy() {
        this._saveVariable(this.currentId)
    },
    methods: {
        ...mapMutations({
            setStep: 'app/setStep',
            setCurrentStep: 'app/setCurrentStep',
            addVariable: 'variables/addVariable',
            setVariable: 'variables/setVariable',
            removeVariable: 'variables/removeVariable'
        }),
        _addVariable() {
            this._saveVariable(this.currentId)

            let id = this.variables.length + 1
            while (this.variables.find(v => v.id === id)) {
                id++
            }
            const label = 'Variable ' + (this.variables.length + 1),
                name = 'VAR' + (this.variables.length + 1)

            if (this.variables.find(v => v.id === id)) id++

            this.addVariable({
                id,
                label,
                name,
                type: 0,
                borneInf: 1,
                borneSup: 10,
                step: '1',
                tag: '',
                tags: [],
                price: false
            })

            this.currentId = id
            this.label = label
            this.type = ''
            this.borneInf = 1
            this.borneSup = 10
            this.step = '1'
            this.tag = ''
            this.tags = []
            this.preview = ''
            this.price = false
        },
        _selectVariable(key, rm = false) {
            if (!rm) this._saveVariable(this.currentId)

            const selected = this.variables[key]

            this.currentId = selected.id
            this.label = selected.label
            this.type = selected.type
            this.borneInf = selected.borneInf
            this.borneSup = selected.borneSup
            this.step = selected.step
            this.tag = selected.tag
            this.tags = selected.tags
            this.price = selected.price
            this.preview = ''
        },
        _removeVariable(index) {
            if (this.variables.length > 1 || index !== 0) {
                this.removeVariable(index)
                this._selectVariable(0, true)
            }
        },
        _saveVariable(id) {
            this.setVariable({
                index: this.variables.findIndex(e => e.id === id),
                variable: {
                    id: this.currentId,
                    label: this.label,
                    type: this.type,
                    borneInf: this.borneInf,
                    borneSup: this.borneSup,
                    step: this.step,
                    tag: this.tag,
                    tags: this.tags,
                    price: this.price
                }
            })
        },
        _setPreview() {
            const step = parseFloat(this.step.replace(',', '.'))
            let preview = '' + this.borneInf.toFixed(1)
            let interval = (this.borneSup - this.borneInf) / step
            interval = Math.floor(interval)
            if (interval >= 6) {
                preview += ', ' + (this.borneInf + step).toFixed(1)
                preview += ', ' + (this.borneInf + 2 * step).toFixed(1)
                preview += ' ... '
                preview += '' + (this.borneInf + (interval - 2) * step).toFixed(1)
                preview += ', ' + (this.borneInf + (interval - 1) * step).toFixed(1)
                preview += ', ' + (this.borneInf + interval * step).toFixed(1)
            } else {
                let i = 1
                while (interval > i) {
                    preview += ', ' + (this.borneInf + i * step).toFixed(1)
                    i++
                }
            }
            this.preview = preview
        },
        _selectType(type) {
            this.type = type
        },
        _isNumberOrFloat(event) {
            if (
                // eslint-disable-next-line prettier/prettier
                !/\d/.test(event.key) &&
                // eslint-disable-next-line prettier/prettier
                ((event.key !== '.' && event.key !== ',') ||
                    /\./.test(event.target.value) ||
                    /,/.test(event.target.value))
            )
                return event.preventDefault()
        },
        _next() {
            this._saveVariable(this.currentId)
            if (this.variables[0].type === 0)
                this.$notify({
                    text: this.$t('step1Variables.warning'),
                    type: 'info'
                })
            else {
                this.setCurrentStep(2)
                this.$router.push('/step-2-contraints')
            }
        }
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/_variables';

.nav-link {
    .badge {
        display: none;
    }

    &:hover {
        background-color: $gray-100;

        .badge {
            display: block;
        }
    }
}

.vue-tags-input {
    .ti-input {
        border-radius: 0.35rem;
        border: 0 !important;
        background-color: #f8f9fc;
    }

    .ti-new-tag-input {
        background-color: #f8f9fc;
    }
}

.custom-file-label {
    &:after {
        height: inherit;
    }
}

.btn {
    &:hover {
        .slideOutRight {
            animation: slideOutRight ease-out 0.2s;
        }
    }
}
</style>
