<template>
    <Layout>
        <div class="row">
            <div class="col-md-12 mb-4">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mt-5">
                    <h3 class="h3 mb-3 text-gray-800">{{ $t('step3Sample.title') }}</h3>
                </div>
                <p>{{ $t('step3Sample.subTitle') }}</p>
            </div>
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7 pr-5">
                <h3 class="h3 mb-3 text-gray-800">{{ $t('step3Sample.formTitle') }}</h3>
                <div class="card shadow mb-4 py-2">
                    <!-- Card Body -->
                    <div class="card-body">
                        <form>
                            <div class="form-row animated--fade-in mt-3">
                                <label for="customRange1">{{ $t('step3Sample.taskLabel') }}</label>
                                <div class="col-11">
                                    <input
                                        id="customRange1"
                                        v-model="_task"
                                        type="range"
                                        class="custom-range colored-range"
                                        :class="{ 'is-invalid': task > 12 }"
                                        min="5"
                                        max="15"
                                    />
                                    <div class="invalid-feedback py-2 px-3 bg-light text-danger">
                                        <i class="fas fa-exclamation fa-sm mr-1" />&nbsp;
                                        {{ $t('step3Sample.taskAdvice') }}
                                    </div>
                                </div>
                                <div class="col-1 text-center text-lg mt-n1">
                                    <b>{{ _task }}</b>
                                </div>
                            </div>
                            <div class="form-row animated--fade-in mt-3">
                                <label for="customRange2">{{ $t('step3Sample.conceptLabel') }}</label>
                                <div class="col-11">
                                    <input
                                        id="customRange2"
                                        v-model="_concept"
                                        type="range"
                                        class="custom-range"
                                        min="2"
                                        max="6"
                                    />
                                    <div class="invalid-feedback py-2 px-3 bg-light text-danger">
                                        <i class="fas fa-exclamation fa-sm mr-1" />&nbsp;
                                        {{ $t('step3Sample.conceptAdvice') }}
                                    </div>
                                </div>
                                <div class="col-1 text-center text-lg mt-n1">
                                    <b>{{ _concept }}</b>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <BFormCheckbox v-model="_none" class="mt-4 mr-3" switch size="lg" name="check-button">
                                    {{ $t('step3Sample.noneLabel') }}
                                </BFormCheckbox>
                                <div>
                                    <a id="none-tooltip" type="button" class="btn btn-link text-decoration-none mt-n1">
                                        <i class="far fa-question-circle" />
                                    </a>
                                    <BTooltip
                                        target="none-tooltip"
                                        triggers="click"
                                        delay="{ show: 3000, hide: 3000 }"
                                        placement="right"
                                    >
                                        {{ $t('step3Sample.noneTooltip') }}
                                    </BTooltip>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <div class="col-md-5">
                                    <label for="version">{{ $t('step3Sample.versionLabel') }}</label>
                                    <input
                                        id="version"
                                        v-model="_version"
                                        type="text"
                                        class="form-control bg-light border-0"
                                        @keypress="isNumber"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary" @click="next">
                        {{ $t('step3Sample.nextBtn') }}
                        <i class="fas fa-long-arrow-alt-right fa-xs ml-2 slideOutRight" />
                    </button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <h3>{{ $t('step3Sample.extraLeft.title') }}</h3>
                <p>{{ $t('step3Sample.extraLeft.content') }}</p>
            </div>
        </div>
    </Layout>
</template>

<script>
import Layout from '@/views/Layout'
import { BFormCheckbox, BTooltip } from 'bootstrap-vue'
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
    components: {
        Layout,
        BFormCheckbox,
        BTooltip
    },
    computed: {
        ...mapGetters({
            authenticated: 'auth/isAuthenticated',
            task: 'sample/getTask',
            concept: 'sample/getConcept',
            version: 'sample/getVersion',
            none: 'sample/isNone'
        }),
        _task: {
            get() {
                return this.task
            },
            set(val) {
                this.setTask(val)
            }
        },
        _concept: {
            get() {
                return this.concept
            },
            set(val) {
                this.setConcept(val)
            }
        },
        _version: {
            get() {
                return this.version
            },
            set(val) {
                this.setVersion(val)
            }
        },
        _none: {
            get() {
                return this.none
            },
            set(val) {
                this.setNone(val)
            }
        }
    },
    created() {
        this.setStep(3)
    },
    methods: {
        ...mapMutations({
            setStep: 'app/setStep',
            setCurrentStep: 'app/setCurrentStep',
            setTask: 'sample/setTask',
            setConcept: 'sample/setConcept',
            setVersion: 'sample/setVersion',
            setNone: 'sample/setNone'
        }),
        ...mapActions({ saveTradoff: 'user/saveTradoff' }),
        isNumber(event, message) {
            if (!/\d/.test(event.key) && (event.key !== '.' || /\./.test(message))) return event.preventDefault()
        },
        next() {
            this.setCurrentStep(4)
            if (this.authenticated) this.saveTradoff()
            this.$router.push('step-4-ending')
        }
    }
}
</script>

<style>
.colored-range::-webkit-slider-runnable-track {
    background-color: #1abc9c;
    background-image: linear-gradient(to right, #1abc9c 0%, #f1c40f 50%, #e74c3c 100%);
}

.colored-range::-moz-range-track {
    background-color: #1abc9c;
    background-image: linear-gradient(to right, #1abc9c 0%, #f1c40f 50%, #e74c3c 100%);
}

.colored-range::-ms-track {
    background-color: #1abc9c;
    background-image: linear-gradient(to right, #1abc9c 0%, #f1c40f 50%, #e74c3c 100%);
}
</style>
