<template>
    <Layout>
        <div class="text-center">
            <h1 class="h1 my-5 text-gray-800">{{ $t('step4Ending.title') }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img
                        class="d-none d-md-block img-responsive w-100 mr-0"
                        src="@/assets/img/undraw_finish_line.svg"
                        alt=""
                    />
                </div>
                <div class="col-sm-12 col-md-6 pt-2 text-center">
                    <p class="mt-4">{{ $t('step4Ending.dlIn') }}</p>
                    <button class="btn btn-success btn-icon-split btn-lg" @click="CSVDownload">
                        <span class="icon text-white-50">
                            <b-spinner v-if="CSVLoader" class="mb-1" small /><span v-else> .csv </span>
                        </span>
                        <span class="text">{{ $t('step4Ending.download') }}</span>
                    </button>
                    <p class="mt-3">{{ $t('step4Ending.or') }}</p>
                    <a href="#" class="btn btn-info btn-icon-split btn-lg" @click="XLSDownload">
                        <span class="icon text-white-50">
                            <b-spinner v-if="XLSLoader" class="mb-1" small /><span v-else> .xls </span>
                        </span>
                        <span class="text">{{ $t('step4Ending.download') }}</span>
                    </a>
                    <p class="mt-3">
                        <a class="btn btn-link" @click="back">{{ $t('step4Ending.back') }}</a>
                    </p>
                </div>
            </div>
            <!-- Area Chart -->
            <div class="mt-5 py-5">
                <h3 class="mb-5">{{ $t('step4Ending.chartTitle') }}</h3>
                <p class="text-danger"><i>TO DO !</i></p>
                <Chart :chart-data="datacollection" :options="options" />
            </div>
        </div>
    </Layout>
</template>

<script>
import axios from 'axios'
import { mapActions, mapGetters, mapMutations } from 'vuex'
import Layout from '@/views/Layout'
import Chart from '@/components/Chart'

const decodeBase64 = str => {
    try {
        return window.atob(str)
    } catch (e) {
        return str
    }
}

export default {
    components: {
        Layout,
        Chart
    },
    data: () => ({
        nbPlanche: 5,
        nbProduit: 2,
        noneChoice: false,
        nbRepondant: 100,
        datacollection: null,
        chartdata: {
            labels: ['January', 'February'],
            datasets: [
                {
                    label: 'Data One',
                    backgroundColor: '#f87979',
                    data: [40, 20]
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        },
        CSVLoader: false,
        XLSLoader: false
    }),
    computed: {
        ...mapGetters({
            authenticated: 'auth/isAuthenticated',
            variables: 'variables/getVariables',
            sample: 'sample/getSample'
        })
    },
    created() {
        this.setStep(4)
    },
    methods: {
        ...mapMutations({ setStep: 'app/setStep' }),
        ...mapActions({ reset: 'app/reset' }),
        isNumber(event, message) {
            if (!/\d/.test(event.key) && (event.key !== '.' || /\./.test(message))) return event.preventDefault()
        },
        CSVDownload() {
            if (this.authenticated) {
                this.CSVLoader = true
                // todo : refacto dans un store
                axios
                    .post('/generate/csv', {
                        variables: this.variables,
                        contraints: null,
                        sample: this.sample
                    })
                    .then(({ data }) => {
                        const element = document.createElement('a')
                        element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(data))
                        element.setAttribute('download', 'tradoff_.csv')
                        element.style.display = 'none'
                        // noinspection JSCheckFunctionSignatures
                        document.body.appendChild(element)
                        element.click()
                        // noinspection JSCheckFunctionSignatures
                        document.body.removeChild(element)
                        this.CSVLoader = false
                    })
            } else this.$bvModal.show('login-modal')
        },
        XLSDownload() {
            if (this.authenticated) {
                this.XLSLoader = true
                // todo : refacto dans un store
                axios
                    .post('/generate/xls', {
                        variables: this.variables,
                        contraints: null,
                        sample: this.sample
                    })
                    .then(({ data }) => {
                        const decoded = decodeBase64(data)
                        const buf = new ArrayBuffer(decoded.length)
                        const view = new Uint8Array(buf)
                        for (let i = 0; i !== decoded.length; ++i) {
                            view[i] = decoded.charCodeAt(i) & 0xff
                        }
                        const blob = new Blob([buf], {
                            type: 'application/octet-stream'
                        })
                        const element = document.createElement('a')
                        element.href = URL.createObjectURL(blob)
                        element.download = 'tradoff_.xls' //yourfilename
                        element.target = '_blank'
                        // noinspection JSCheckFunctionSignatures
                        document.body.appendChild(element)
                        element.click()
                        // noinspection JSCheckFunctionSignatures
                        document.body.removeChild(element)
                        this.XLSLoader = false
                    })
            } else this.$bvModal.show('login-modal')
        },
        back() {
            this.reset()
            this.$router.push('/')
        }
    }
}
</script>
