<template>
    <Layout>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mt-5">
            <h3 class="h3 mb-3 text-gray-800">{{ $t('step2Contraints.title') }}</h3>
        </div>
        <p>{{ $t('step2Contraints.subTitle') }}</p>
        <div class="card shadow mt-5" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0">
            <div class="card-body">
                <AndOr ref="contraints" :options="options" :isFirst="isFirst" :query="q" @query-change="updateQuery" />
            </div>
        </div>
        <div class="px-4 py-3 card bg-dark text-gray-100" style="border-top-left-radius: 0; border-top-right-radius: 0">
            {{ preview }}
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row-reverse mt-5">
                    <a
                        class="btn btn-primary"
                        :class="{ disabled: !$refs.contraints || preview === '( )' }"
                        @click="() => _next()"
                    >
                        {{ $t('step2Contraints.nextBtn') }}
                    </a>
                    <a class="btn btn-link mr-2" @click="() => _next(true)">Skip</a>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Layout from '@/views/Layout'
import AndOr from '@/components/AndOr'
import '@/assets/css/magic-cube.css'

export default {
    components: {
        Layout,
        AndOr
    },
    data: () => ({
        options: {
            keys: null,
            operators: [
                {
                    name: 'Choose Operator',
                    id: -99
                },
                {
                    name: 'more',
                    id: '>'
                },
                {
                    name: 'less',
                    id: '<'
                },
                {
                    name: 'equal',
                    id: '==='
                },
                {
                    name: 'not equal',
                    id: '!==='
                }
            ]
        },
        isFirst: true,
        preview: '',
        q: {}
    }),
    computed: {
        ...mapGetters({
            variables: 'variables/getVariables',
            query: 'contraints/getQuery'
        })
    },
    created() {
        this.preview = this.$t('step2Contraints.preview')
        this.q = this.query
        this.setStep(2)
        this.options.keys = this.variables.map(variable => ({
            name: variable.label,
            id: variable.name
        }))
        this.options.keys.push({
            name: 'Choose a variable',
            id: -99
        })
    },
    beforeDestroy() {
        this.setPreview(this.preview)
        this.setQuery(this.$refs.contraints.queryFormStatus())
    },
    methods: {
        ...mapMutations({
            setStep: 'app/setStep',
            setCurrentStep: 'app/setCurrentStep',
            setQuery: 'contraints/setQuery',
            setPreview: 'contraints/setPreview',
            setSkip: 'contraints/setSkip'
        }),
        updateQuery() {
            const queryToString = (query, res) => {
                if (!res) res += '( '

                res += query.rules
                    .map((r, i, q) =>
                        r.rules
                            ? `${queryToString(r, res)} ) ${i + 1 < q.length ? query.condition : ''}`
                            : r.key !== -99 && r.operator !== -99
                            ? `${r.key} ${r.operator} ${r.value} ${i + 1 < q.length ? query.condition : ''}`
                            : ''
                    )
                    .join(' ')

                return res.substr(0, res.length - 1)
            }

            if (this.$refs.contraints) this.preview = queryToString(this.$refs.contraints.queryFormStatus(), '') + ' )'
        },
        _next(skip = false) {
            if (skip) {
                this.setSkip(true)
            }
            this.setCurrentStep(3)
            this.$router.push('step-3-sample')
        }
    }
}
</script>
