<template>
    <div class="w100" :class="isFirst ? 'and-or-first' : 'and-or-template'">
        <div class="form-group and-or-top row justify-content-between">
            <div class="col-6">
                <button
                    class="btn btn-outline-primary btn-sm mr-2"
                    :class="isAnd ? 'btn-primary text-white' : ''"
                    @click.prevent="clickAnd"
                >
                    And
                </button>
                <button
                    class="btn btn-outline-primary btn-sm"
                    :class="!isAnd ? 'btn-primary text-white' : ''"
                    @click.prevent="clickOr"
                >
                    Or
                </button>
            </div>

            <div class="col-6 text-right">
                <button class="btn btn-link text-decoration-none" @click.prevent="addRule">
                    <i class="fas fa-plus fa-sm" /> {{ $t('step2Contraints.AndOr.addRow') }}
                </button>
                <button class="btn btn-link text-decoration-none mr-2" @click.prevent="addGroup">
                    <i class="fas fa-layer-group fa-sm" /> {{ $t('step2Contraints.AndOr.addGroup') }}
                </button>
                <button
                    v-if="!isFirst"
                    class="btn btn-secondary mr-close-btn"
                    style="padding-top: 4px; padding-bottom: 2px"
                    @click.prevent="deleteSelf()"
                >
                    <i class="fas fa-times" />
                </button>
            </div>
        </div>

        <rule
            v-for="(rule, index) in rules"
            ref="rules"
            :key="rule"
            :options="options"
            @delete-rule="deleteRule(index)"
            @change-value="$emit('query-change')"
        ></rule>

        <AndOr
            v-for="(group, index) in groups"
            ref="groups"
            :key="group"
            class="and-or-offset col-11"
            :options="options"
            @query-change="$emit('query-change')"
            @delete-group="deleteGroup(index)"
        />
    </div>
</template>

<script>
import Rule from './Rule'

export default {
    name: 'AndOr',
    components: {
        Rule,
        AndOr: this
    },
    props: {
        options: {
            type: Object,
            required: true
        },
        query: {
            type: Object,
            default: () => ({})
        },
        isFirst: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        isAnd: true,
        groups: [],
        rules: []
    }),
    created() {
        this.addRule()
        if (this.query && this.query.condition) this.fillFormStatus(this.query)
    },
    methods: {
        clickAnd() {
            this.isAnd = true
        },

        clickOr() {
            this.isAnd = false
        },

        addRule() {
            this.rules.push(this.generateId())
            this.$emit('query-change')
        },

        addGroup() {
            this.groups.push(this.generateId())
            this.$emit('query-change')
        },

        deleteSelf() {
            this.$emit('delete-group')
            this.$emit('query-change')
        },

        deleteRule(index) {
            this.rules.splice(index, 1)
            this.$emit('query-change')
        },

        deleteGroup(index) {
            this.groups.splice(index, 1)
            this.$emit('query-change')
        },

        queryFormStatus() {
            const query = {}
            const rules = this.$refs.rules || {}
            const groups = this.$refs.groups || {}
            let i, j

            query['condition'] = this.isAnd ? 'AND' : 'OR'
            query['rules'] = []
            for (i = 0; i < rules.length; i++) {
                query.rules.push(rules[i].queryFormStatus())
            }
            for (j = 0; j < groups.length; j++) {
                query.rules[query.rules.length] = groups[j].queryFormStatus()
            }

            return query
        },

        fillFormStatus(data) {
            let i, len
            const group = this
            group.rules = []
            group.groups = []
            if (data && data.rules && group.groups) {
                group.isAnd = /and/i.test(data.condition)
                len = data.rules.length
                for (i = 0; i < len; i++) {
                    if (data.rules[i].condition) {
                        group.groups.push(group.generateId())
                        ;(function (i, index) {
                            group.$nextTick(function () {
                                group.$refs.groups[index].fillFormStatus(data.rules[i])
                            })
                        })(i, group.groups.length - 1)
                    } else {
                        group.rules.push(group.generateId())
                        ;(function (i, index) {
                            group.$nextTick(function () {
                                group.$refs.rules[index].fillRuleStatus(data.rules[i])
                            })
                        })(i, group.rules.length - 1)
                    }
                }
            }
        },

        generateId() {
            return 'xxxxxxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                const r = (Math.random() * 16) | 0,
                    v = c === 'x' ? r : (r & 0x3) | 0x8
                return v.toString(16)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_variables';

.mr-close-btn {
    margin-right: 0.3rem !important;
}
.col-11 {
    max-width: calc(100% - 1.93em);
}
.btn-link:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.and-or-template {
    padding: 8px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid $gray-500;
    background-color: rgba(255, 255, 255, 0.9);
}

.and-or-template:before,
.and-or-template:after {
    content: '';
    position: absolute;
    left: -19px;
    width: 17px;
    height: calc(50% + 18px);
    border-color: $gray-500;
    border-style: solid;
}

.and-or-template:before {
    top: -18px;
    border-width: 0 0 2px 2px;
}

.and-or-template:after {
    top: 50%;
    border-width: 0 0 0 2px;
}

.and-or-first:before,
.and-or-first:after,
.and-or-template:last-child:after {
    border: none;
}

.and-or-top,
.btn-and-or {
    padding: 0;
}

.btn-and-or button {
    margin-left: 4px;
}

.and-or-offset {
    margin-left: 41px;
}
</style>
