<template>
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <LoginBox v-if="signin" class="boxes" :redirect="redirect" />
                    <RegisterBox v-else class="boxes" :redirect="redirect" />
                    <hr />
                    <div class="text-center">
                        <a v-if="!signin" class="small cursor-pointer" @click="toggleSignin">
                            Already have an account ? Login !
                        </a>
                        <a v-if="signin" class="small cursor-pointer" @click="toggleSignin">
                            Create an Account!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoginBox from '@/components/LoginBox'
import RegisterBox from '@/components/RegisterBox'

export default {
    components: { LoginBox, RegisterBox },
    props: {
        redirect: {
            type: Boolean,
            default: () => false
        }
    },
    data: () => ({
        signin: true
    }),
    methods: {
        toggleSignin() {
            this.signin = !this.signin
        }
    }
}
</script>

<style>
.boxes {
    animation: fadeIn ease 0.5s;
}
</style>
