<template>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="container pr-4">
            <!-- Topbar Brand -->
            <router-link class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
                <h1 class="sidebar-brand-text m-2">
                    <b><span class="px-2 text-primary">TOM</span></b>
                    <sub><small>x GIDE</small></sub>
                </h1>
            </router-link>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Alerts -->
                <li class="nav-item mx-1">
                    <a class="nav-link" href="https://www.gide.net">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">GIDE.net</span>
                    </a>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item mx-1">
                    <router-link class="nav-link" to="about">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ $t('app.header.about') }}</span>
                    </router-link>
                </li>

                <!-- Nav Item - Langages -->
                <li class="nav-item dropdown" :class="{ show: toggleLangMenu }">
                    <a
                        id="langDropdown"
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        :ariaExpanded="toggleLangMenu"
                        @click="() => (toggleLangMenu = !toggleLangMenu)"
                    >
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small text-uppercase">{{ lang }}</span>
                    </a>
                    <!-- Dropdown - Lang menu -->
                    <div
                        class="dropdown-menu minw6rem dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="userDropdown"
                        :class="{ show: toggleLangMenu }"
                    >
                        <a class="dropdown-item cursor-pointer" @click="switchLang('fr')"> Français </a>
                        <a class="dropdown-item cursor-pointer" @click="switchLang('en')"> English </a>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block" />

                <li v-if="!authenticated" class="nav-item my-auto">
                    <button class="btn btn-primary ml-3" @click="$bvModal.show('login-modal')">
                        {{ $t('app.header.signin') }}
                    </button>
                </li>

                <!-- Nav Item - User Information -->
                <li v-else class="nav-item dropdown no-arrow" :class="{ show: toggleUserMenu }">
                    <a
                        id="userDropdown"
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        :ariaExpanded="toggleUserMenu"
                        @click="() => (toggleUserMenu = !toggleUserMenu)"
                    >
                        <i class="fas fa-user fa-xs text-gray-600" style="padding-bottom: 0.16em" />
                        <span class="ml-2 d-none d-lg-inline text-gray-600 small">{{ user ? user.username : '' }}</span>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div
                        class="dropdown-menu minw8rem dropdown-menu-right shadow animated--fade-in pl-n2"
                        aria-labelledby="userDropdown"
                        :class="{ show: toggleUserMenu }"
                    >
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400" />
                            {{ $t('app.header.account') }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item cursor-pointer" @click="logout().then(() => $router.push('login'))">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" />
                            {{ $t('app.header.logout') }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <b-modal id="login-modal" size="lg">
            <AuthLayout style="margin-top: -2em !important" :title="$t('app.header.signin')" />
        </b-modal>
    </nav>
    <!-- End of Topbar -->
</template>

<script>
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import { ModalPlugin } from 'bootstrap-vue'
import AuthLayout from '@/components/AuthLayout'

Vue.use(ModalPlugin)

export default {
    components: {
        AuthLayout
    },
    data: () => ({
        toggleUserMenu: false,
        toggleLangMenu: false
    }),
    computed: {
        ...mapGetters({ lang: 'app/getLang', authenticated: 'auth/isAuthenticated', user: 'user/getUser' })
    },
    methods: {
        ...mapActions({ switchLangGlobal: 'app/switchLang', logout: 'auth/logout' }),
        switchLang(lang) {
            this.switchLangGlobal(lang).then(() => {
                this.toggleLangMenu = !this.toggleLangMenu
                this.$root.$i18n.locale = lang
            })
        }
    }
}
</script>

<style lang="scss">
.modal-backdrop {
    opacity: 0.7;
}
.modal-header {
    padding: 0.6rem 1rem;
    border-bottom: 0;
}
.modal-footer {
    display: none;
}
.minw6rem {
    min-width: 6rem !important;
}
.minw8rem {
    min-width: 8rem !important;
}
.dropdown-item {
    padding: 0.25rem 1rem;
}
</style>
