<template>
    <form class="user" @submit.prevent="onSubmit">
        <div class="text-center">
            <h3 class="h3 text-gray-900 mb-4">Sign in</h3>
        </div>
        <div class="form-group">
            <input
                v-model="email"
                type="email"
                class="form-control form-control-user"
                aria-describedby="emailHelp"
                placeholder="Enter Email Address..."
            />
        </div>
        <div class="form-group">
            <input v-model="password" type="password" class="form-control form-control-user" placeholder="Password" />
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input id="customCheck" v-model="remember" type="checkbox" class="custom-control-input" />
                <label class="custom-control-label" for="customCheck">Remember Me</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            <b-spinner v-if="loading" small /> Login
        </button>
        <div class="text-center mt-3">
            <router-link class="small" to="forgot-password">Forgot Password?</router-link>
        </div>
    </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    props: {
        redirect: {
            type: Boolean,
            default: () => false
        }
    },
    data: () => ({
        email: '',
        password: '',
        remember: false
    }),
    computed: {
        ...mapGetters({ loading: 'auth/isLoading', user: 'user/getUser', step: 'app/getStep' }),
        validLogin() {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return this.email !== '' || re.test(this.email)
        },
        validPassword() {
            return this.password !== '' || this.password.length > 3
        }
    },
    mounted() {
        if (localStorage.getItem('remember')) {
            this.remember = true
        }
    },
    methods: {
        ...mapActions({ login: 'auth/login', saveTradoff: 'user/saveTradoff' }),
        onSubmit() {
            if (this.validLogin && this.validPassword)
                this.login({
                    email: this.email,
                    password: this.password,
                    remember: this.remember
                }).then(() => {
                    if (this.step === 4) this.saveTradoff()
                    if (this.redirect) this.$router.push('/')
                    else this.$bvModal.hide('login-modal')
                })
            else
                this.$notify({
                    warn: 'warn',
                    text: "L'identifiant ou le mot de passe est invalide."
                })
        }
    }
}
</script>
