<template>
    <div class="form-group and-or-rule row">
        <div class="input-group px-3">
            <select v-model="key" class="form-control input-sm">
                <option v-for="option in options.keys" :key="option.id" :value="option.id">
                    {{ option.name }}
                </option>
            </select>
            <select v-model="operator" class="form-control input-sm">
                <option v-for="option in options.operators" :key="option.id" :value="option.id">
                    {{ option.name }}
                </option>
            </select>
            <input v-model="value" type="text" class="form-control input-sm" placeholder="Value" />
            <div class="input-group-append">
                <button class="btn btn-danger" @click.prevent="deleteSelf()">
                    <i class="fas fa-times" />
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'rule',
    props: {
        options: {
            type: Object,
            required: true
        }
    },
    data: () => ({
        key: -99,
        operator: -99,
        value: ''
    }),
    watch: {
        key(newVal, oldVal) {
            if (newVal !== oldVal) this.$emit('change-value')
        },
        operator(newVal, oldVal) {
            if (newVal !== oldVal) this.$emit('change-value')
        },
        value(newVal, oldVal) {
            if (newVal !== oldVal) this.$emit('change-value')
        }
    },
    methods: {
        deleteSelf() {
            this.$emit('delete-rule')
        },

        queryFormStatus() {
            return {
                key: this.key,
                operator: this.operator,
                value: this.value
            }
        },

        fillRuleStatus(data) {
            this.key = data.key
            this.operator = data.operator
            this.value = data.value
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_variables';

.and-or-rule {
    position: relative;
    height: 38px;
    margin-left: 26px !important;
    padding-left: 0;
}

.and-or-rule:before,
.and-or-rule:after {
    content: '';
    position: absolute;
    left: -2px;
    width: 18px;
    height: calc(50% + 21px);
    border-color: $gray-500;
    border-style: solid;
}

.and-or-rule:before {
    top: -21px;
    border-width: 0 0 2px 2px;
}

.and-or-rule:after {
    top: 50%;
    border-width: 0 0 0 2px;
}

.and-or-rule:last-child:after {
    border: none;
}
</style>
