<template>
    <div class="bs-stepper">
        <div class="bs-stepper-header" role="tablist">
            <div class="step">
                <button
                    type="button"
                    class="btn btn-link step-trigger"
                    :class="{ active: step === 1, done: step > 1 }"
                    role="tab"
                    @click="stepHandler('step-1-variables')"
                >
                    <div class="bs-stepper-circle">
                        <i v-if="step > 1" class="fas fa-check fa-sm" style="margin-top: 2px"></i>
                        <span v-else>1</span>
                    </div>
                    <div class="bs-stepper-label">Variables</div>
                </button>
            </div>
            <div class="line"></div>
            <div class="step">
                <button
                    type="button"
                    class="btn btn-link step-trigger"
                    :class="{ active: step === 2, done: step > 2, pending: step !== 2 && currentStep > 1 }"
                    role="tab"
                    @click="stepHandler('step-2-contraints', 2)"
                >
                    <div class="bs-stepper-circle">
                        <i v-if="step > 2" class="fas fa-check fa-sm" style="margin-top: 2px"></i>
                        <span v-else>2</span>
                    </div>
                    <div class="bs-stepper-label">({{ $t('app.stepper.contraints') }})</div>
                </button>
            </div>
            <div class="line"></div>
            <div class="step">
                <button
                    type="button"
                    class="btn btn-link step-trigger"
                    :class="{ active: step === 3, done: step > 3, pending: step !== 3 && currentStep > 2 }"
                    role="tab"
                    @click="stepHandler('step-3-sample', 3)"
                >
                    <div class="bs-stepper-circle">
                        <i v-if="step > 3" class="fas fa-check fa-sm" style="margin-top: 2px"></i>
                        <span v-else>3</span>
                    </div>
                    <div class="bs-stepper-label">{{ $t('app.stepper.sample') }}</div>
                </button>
            </div>
            <div class="line"></div>
            <div class="step">
                <button
                    type="button"
                    class="btn btn-link step-trigger"
                    :class="{ active: step === 4, pending: step !== 4 && currentStep > 3 }"
                    role="tab"
                    @click="stepHandler('step-4-ending', 4)"
                >
                    <span class="bs-stepper-circle">4</span>
                    <span class="bs-stepper-label">{{ $t('app.stepper.download') }}</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            step: 'app/getStep',
            currentStep: 'app/getCurrentStep'
        })
    },
    methods: {
        stepHandler(routeName, step = null) {
            if ((!step || this.currentStep >= step) && this.$route.name !== routeName) this.$router.push(routeName)
        }
    }
}
</script>

<style lang="scss" scoped>
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '../assets/scss/_variables';

.active {
    .bs-stepper-circle {
        padding: 0.4em;
        background-color: $light;
        color: $primary;
        border: 2px solid $primary;
    }

    .bs-stepper-label {
        color: $primary;
    }
}

.done {
    .bs-stepper-circle {
        background-color: $primary;
    }

    .bs-stepper-label {
        color: $primary;
    }
}

.pending {
    .bs-stepper-circle {
        background-color: $primary;
    }
}
</style>
